{% extends "base.html" %}
{% block content %}
    {% if album.is_visible %}
        <article>
            <header>
                <h1>{{ album.title }}</h1>
            </header>
            <section>
                <p>{{ album.description }}</p>
                <div>
                    <div>
                        {% for item in images %}
                        <a>
                            <img src="{{ item.thumb.url }}" alt="{{ item.alt }}" />
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <footer>
                Created on <time datetime="{{ album.created|date:"Y-m-d" }}">{{ album.created|date:"d M Y" }}</time>
                <p>Tags: {{ album.tags }}</p>
            </footer>
        </article>
    {% else %}
        <h3>This album is temporarily unavailable.</h3>
    {% endif %}
{% endblock %}